<div class="row separar">
    <div class="col-md-6	offset-md-3">
        <span class="anchor" id="formLogin"></span>
        <div class="card	card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Datos del Articulo</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="nombreArticulo ">Nombre del Articulo</label>
                        <input type="text" class="form-control" id="nombreArticulo"
                            placeholder="Zapatos, Vestido, Pantalon..." #nombre>
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" placeholder="1,2,3,4.." #cantidad>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input type="number" class="form-control" id="precio" placeholder="10,15,5.." value="1" #precio>
                    </div>
                    <button type="submit" class="btn btn-primary"
                        (click)="agregar(nombre.value,cantidad.value,precio.value)"> Insertar </button>
                </form>
            </div>
        </div>
        <div class="separar">
            <h2> Factura</h2>
            <div class="row">  <!-- Se reliza de esta manera Usando boostrap para que los elementos insertados tengan apariencia de Tabla-->
                <div class="col-3">
                    <ul><!--Lista Contenedora-->
                        <span>Articulo</span>
                        <app-items *ngFor="let x of listaArticulos" [valor]=x.nombre> </app-items> <!--Renderear  nombre extraido del modelo articulos-->
                    </ul>
                </div>
                <div class="col-3">
                    <ul><!--Lista Contenedora-->
                        <span>Cantidad</span>
                        <app-items *ngFor="let x of listaArticulos" [valor]=x.cantidad> </app-items> <!--Renderear  Cantidad extraido del modelo articulos-->
                    </ul>
                </div>
                <div class="col-3">
                    <ul><!--Lista Contenedora-->
                        <span>Precio</span>
                        <app-items *ngFor="let x of listaArticulos" [valor]=x.precio> </app-items><!--Renderear  Precio extraido del modelo articulos-->
                        <br>
                        <span>Toral General</span>  <!--Este es fijo para presentar el concepto de Total-->
                    </ul>
                </div>
                <div class="col-3">
                    <ul><!--Lista Contenedora-->
                        <span>Total</span>
                        <app-items *ngFor="let x of listaArticulos" [valor]=x.total> </app-items> <!--Renderear valor Total extraido del modelo articulos-->
                        <br>
                        <span>{{total}}</span> <!--Este es fijo para presentar el valor de total que sacamos del TS-->
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>