/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';


.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .toolbar h1{
      text-align: center;
      display: inline-block;
      margin: 0 auto;
  }

  .col-3 ul{
        list-style-type: none;;
  }
span{
    font-weight: bold;
}
  .fuente{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .separar{
    margin-top: 2%;
  }